.bars {
    display: flex;
    flex-direction: column;
    .bar {
        display: flex;
        transition: width 0.5s;
        &__item {
            white-space: nowrap;
            transition: width 0.5s;
            overflow: hidden;
            height: 1rem;

            &:after {
                content: "(" attr(data-word-count) ")";
                margin-left: 0.25rem;
            }

            &[data-word-count="1"],
            &[data-word-count="2"],
            &[data-word-count="3"] {
                opacity: 0.25;
            }
        }
    }
}
